<!DOCTYPE html>
<html lang=en-us>
    <head>
        <meta charset="utf-8">
        <title>Aditya Azad</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Personal Website">
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
    <body>
        <nav>
            <a class="nav-button shadowed" href="/">Home</a>
            <a class="nav-button shadowed" href="/work.html">Work</a>
            <a class="nav-button shadowed" href="/publications.html">Publications</a>
            <a class="nav-button shadowed" href="/projects.html">Projects</a>
        </nav>
        <main>
            {% content %}
        </main>
        <footer>
            <p>Copyright 2024 Aditya Azad</p>
        </footer>
    </body>
</html>
